.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
/* .slide-leave-active em versões anteriores a 2.1.8 */ {
  transform: translateY(30px);
  opacity: 0;
}

.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to
/* .slide-leave-active em versões anteriores a 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


@keyframes like {
  0%, 70%, 100% {
    transform: scale(1)
  }
  50%, 80% {
    transform: scale(1.1)
  }
}