.btn {
  border: 0.5px solid #EF3176;
  font-weight: 600;
  font-size: 14px;
  color: #EF3176;
  height: 20px;
  justify-content: center;
  border-radius: 7px;
  outline: none;
  transition: opacity .3s;
  padding: 0 15px;
  height: 30px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
  &:active {
    filter: contrast(1.6)
  }
  &.btn-block {
    flex: 1;
  }

  &.pink {
    background-color: #EF3176;
    color: #FFF;
  }
  &.white {
    background-color: #FFF;
    color: #EF3176;
  }

  &.btn-block {
    border-radius: 0;
    width: 100%;
    font-weight: bolder;
    height: 45px;
  }
}
i {
  margin-left: 5px;
}