.chat-component {
  display: flex;
  flex-direction: column;

  &__message__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__message {
    &.is-author {
      justify-content: flex-end;

      .chat-component__message__content {
        background-color: #F1F1F1;
        color: #9D9D9D;
      }
    }
  }

  &__message__content {
    display: flex;
    min-height: 120px;
    padding: 20px;
    width: 65%;
    border-radius: 6px;
    background: rgba(255, 173, 203, 0.4);
    margin: 15px 0;
    color: #EF3176;
    font-weight: 500;

    &__footer {
      color: #EF3176;
      span {
        font-size: 13px;
        &:first-child {
          font-weight: 700;
        }
      }
    }

    &__text {
      flex: 1;
    }
  }
}