.form {
  .adopter-input {
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    background-color: #FFF;
    font-weight: 300;
    outline: none;
    min-height: 40px;
    padding: 0 8px;
    font-size: 16px;
    transition: border .3s;

    &:focus {
      border-color: #EF3176;
    }
  }
  .multiselect {
    &.selected {
      .multiselect__tags {
        border-color: #EF3176;
      }
      .multiselect__select:before {
        color: #EF3176;
        border-color: #EF3176 transparent transparent;
      }
    }

    &__option {
      &--highlight {
        background-color: #EF3176;
      }
    }

    &__tags {
      border: 1px solid #c4c4c4;
      border-radius: 6px;
      color: #EF3176;
      background-color: #FFF;
      font-weight: 300;
    }
    &__tag {
      background-color: #EF3176;
      &-icon {
        background-color: #f9639a;

        &:after {
          color: #FFF;
        }

      }
    }
    &__select {
      &:before {
        color: #c4c4c4;
        border-color: #c4c4c4 transparent transparent;
      }
    }
  }

  &__body {
    width: 100%;
    & > * {
      margin: 8px 0;
    }
  }
  &__footer {
    width: 100%;
  }
}

.adopter-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: #EF3176;

      &:after {
        display: block;
      }
    }

  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: background .3s;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

};