.form {
  .multiselect {
    &__tags {
      border: 1px solid #c4c4c4;
      border-radius: 6px;
      color: #EF3176;
      background-color: #FFF;
      font-weight: 300;
    }
    &__tag {
      background-color: #EF3176;
      &-icon {
        background-color: #f9639a;

        &:after {
          color: #FFF;
        }

      }
    }
    &__select {
      &:before {
        color: #c4c4c4;
        border-color: #c4c4c4 transparent transparent;
      }
    }
  }

  &__body {
    width: 100%;
    & > * {
      margin: 8px 0;
    }
  }
  &__element {
    width: 100%;
    color: #EF3176;

    &.multiple {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
    }
  }
}