.flex {
    display: flex;
    &.flex-column {
        flex-direction: column;
    }
    &.--full {
        flex: 1;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.justify-center {
        justify-content: center;
    }
    &.space-around {
        justify-content: space-around;
    }
}

.img-responsive {
    width: 100%;
}

section {
    .container {
        & > .title {
            margin: 20px 0;
        }
    }
}

*::-webkit-scrollbar-track
{
    background-color: #FFF;
    height: calc(100vh - 75px);
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #FFF;
}

*::-webkit-scrollbar-thumb
{
	background-color: #EF3176;
    border-radius: 6px;
}

.adopter-toast {
  background-color: #EF3176!important;
  color: #FFF!important;
  font-weight: 500!important;
}

.text {
  &-pink {
    color: #EF3176;
  }
  &-gray {
    color: #908D8D;
  }
}
