.flex {
    display: flex;
    &.flex-column {
        flex-direction: column;
    }
    &.--full {
        flex: 1;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
}