.icon {
    width: 12px;
    height: 12px;
    background-size: cover;

    &.icon-paw {
        background-image: url(assets/img/icon/animal/008-animal-paw.svg);
        fill: red;
    }
}

.social {
    .facebook {
        background-image: url(assets/img/icon/social/facebook.svg)
    }
    .instagram {
        background-image: url(assets/img/icon/social/instagram.svg)
    }
    .twitter {
        background-image: url(assets/img/icon/social/twitter.svg)
    }
    .whataspp {
        background-image: url(assets/img/icon/social/whatsapp.svg)
    }
}