.icon {
    background-size: contain;
    background-repeat: no-repeat;

    &.icon-paw {
        background-image: url(assets/img/icon/animal/009-animal-paw-inactive.svg);

        &.small {
            width: 15px;
            height: 15px;
        }
        &.medium {
            width: 18px;
            height: 18px;
        }
        &.large {
            width: 21px;
            height: 21px;
        }
        &.--pink {
            background-image: url(assets/img/icon/animal/008-animal-paw-active.svg);
        }
    }
    &.dog {
        background-image: url(assets/img/icon/animal/003-dog.svg);   
    }
    &.cat {
        background-image: url(assets/img/icon/animal/002-cat.svg)
    }
}

.social {
    .facebook {
        background-image: url(assets/img/icon/social/facebook.svg)
    }
    .instagram {
        background-image: url(assets/img/icon/social/instagram.svg)
    }
    .twitter {
        background-image: url(assets/img/icon/social/twitter.svg)
    }
    .whataspp {
        background-image: url(assets/img/icon/social/whatsapp.svg)
    }
}