.icon {
    background-size: contain;
    background-repeat: no-repeat;

    &.icon-paw {
        background-image: url(assets/img/icon/animal/009-animal-paw-inactive.svg);

        &.small {
            width: 15px;
            height: 15px;
        }
        &.medium {
            width: 18px;
            height: 18px;
        }
        &.large {
            width: 21px;
            height: 21px;
        }
        &.--pink {
            background-image: url(assets/img/icon/animal/008-animal-paw-active.svg);
        }
    }
    &.dog {
        background-image: url(assets/img/icon/animal/003-dog.svg);   
    }
    &.cat {
        background-image: url(assets/img/icon/animal/002-cat.svg)
    }

    &.icon-favorite {
        position: absolute;
        display: flex;
        width: 30px;
        height: 30px;
        background-color: #FFF;
        border-radius: 50%;
        right: 10px;
        top: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        &:before {
            content: '';
            background-image: url(assets/img/icon/010-like.svg);
            background-position: center;
            position: absolute;
            display: block;
            width: 65%;
            height: 65%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.is-favorite {
            &:before {
                background-image: url(assets/img/icon/011-like-full.svg);
                margin-top: 1px;
            }
        }
    }
}

.social {
    .facebook {
        background-image: url(assets/img/icon/social/facebook.svg)
    }
    .instagram {
        background-image: url(assets/img/icon/social/instagram.svg)
    }
    .twitter {
        background-image: url(assets/img/icon/social/twitter.svg)
    }
    .whataspp {
        background-image: url(assets/img/icon/social/whatsapp.svg)
    }
}