.swiper {
  &-container{
    height: 100%;

    &.swiper__progress {
      .swiper-slide {
        padding: 10px 10px 20px 10px;
        .tip {
          font-size: 12px;
          margin: 10px 0;
          color: #9D9D9D;
        }
        .step {
          &-title {
            color: #EF3176;
            font-size: 24px;
            font-weight: 500;
            margin: 10px auto;
            text-align: center;
          }
          &__options {
            flex: 1;
            padding-bottom: 10px;

            &__group {
              .label {
                color: #EF3176;
                margin-bottom: 5px;
              }
              & > div {
                margin-top: 10px;
              }
            }

            input[type=text], textarea {
              outline: none;
              font-weight: 300;
              padding-bottom: 10px;
              transition: border .4s;
              border-bottom: 2px solid #9D9D9D;
              border-right: none;
              border-left: none;
              border-top: none;
              &:focus, &.active {
                border-color: #EF3176;
              }
            }

            input[type=text] {
              font-size: 28px;
              width: 75%;
            }

            textarea {
              width: 90%;
              height: 90%;
              font-size: 18px;
              resize: none;
            }

            .option {
              height: 100%;
              position: relative;
              cursor: pointer;
              transition: all .4s;
              border-radius: 6px;
              color: #cecece;

              &.selected {
                background: #F5F5F5;
              }

              input[type=radio] {
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                cursor: pointer;
              }

              h2 {
                font-weight: 600;
                font-size: 21px;
                margin-top: 5px;
              }

              .icon {
                width: 70px;
                height: 70px;
                filter: grayscale(100%);
                transition: filter .4s;
              }

              &:hover, &.selected {
                color: #EF3176;

                .icon {
                  filter:grayscale(0);
                }
              }
            }
      
            .summary-card {
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
              border-radius: 8px;
              // display: grid;
              // grid-template-columns: repeat(2, 1fr);
              height: 100%;
              overflow: scroll;
              padding: 10px;
              font-size: 14px;
              color: #6F6F6F;
              position: relative;

              .image-preview {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              .name {
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 10px;
              }
              &__details {
                ul {
                  margin-bottom: 5px;
                  padding-bottom: 10px;
                  border-bottom: 1px solid #f7f7f7;

                  li {
                    margin-bottom: 5px;
                  }
                }
              }
            
            }
            &__actions {
              height: 30px;
            }
          }
        }
      }
      .swiper-pagination-progressbar-fill {
        background: #EF3176;
      }
    }
    .fa-chevron-right, .fa-chevron-left {
      cursor: pointer;
      color: #EF3176;
    }
  }
}