.custom-alert {
  &__header {
    max-width: 110px;
  }
  &__content {
    padding-top: 20px;
    .card {
      margin: 20px 0;
      padding: 10px;
      ul {
        li {
          margin: 10px 0;
        }
      }
    }
    
    .warning {
      font-size: 12px;
      &__title {
        font-size: 24px;
        font-weight: 500;
      }
      ul {
        li {
          margin: 10px 0;
        }
      }
    }
  }
}